.modal-info{
  background-color: #3D4D65 !important;
  font-family: 'Roboto', sans-serif !important;
  color: #CACACA !important;
}

.modal-header{
   background-color: #374355 !important;
   font-family: 'Roboto', sans-serif !important;
   color: #CACACA !important;
   text-align: center;
}
