.map-container{
    border-width: 0.5px;
    border-color: #CACACA;
    border-radius: 3px;
    border-style: solid;
    margin-top: -30px;
    margin-left: 10px;
}

.highlight-country{
    stroke: red;
    stroke-width: 1px;
}

.map-tooltip {
    background-color: aliceblue;
    color: #374355;
    border-radius: 3px;
    padding: 3px;
    /*float: right;*/
    left: 75%;
    bottom: 10px
}

.legend{
    margin-left: 70px;
    bottom: 10px;
}